<comp-model-edit *ngIf="model"
                 [model]="model"
                 [isEditing]="isEditing"
                 [isViewing]="isViewing"
                 (onAdd)="onAddDone($event)"
                 (onSave)="onEditDone($event)"
                 (onCancel)="onCancel($event)"
                 (onError)="onError($event)">
</comp-model-edit>
<popup class="modal ng2modal"
       *ngIf="idToDelete"
       [title]="getDeleteTitle()"
       (onOk)="onDeleteOk()"
       (onCancel)="closePopup()">
</popup>
<div>
    <button type="button" (click)="onRefresh()">Refresh</button>
    <button *ngIf="!isReadOnly" type="button" (click)="onAdd()">Add</button>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let model of modelsList">
        <td>{{model.id}}</td>
        <td>{{model.name}}</td>
        <td>{{model.typeName}}</td>
        <td>{{model.description}}</td>
        <td>
            <button type="button" (click)="onViewDetails(model)">View</button>
        </td>
        <td *ngIf="!isReadOnly">
            <button type="button" (click)="onEdit(model)">Edit</button>
        </td>
        <td *ngIf="!isReadOnly">
            <button type="button" (click)="onDelete(model)">Delete</button>
        </td>
    </tr>
</table>