<div>
    <button type="button" (click)="onRefresh()">Refresh</button>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th></th>
    </tr>
    <tr *ngFor="let model of modelsList">
        <td>{{model.id}}</td>
        <td>{{model.name}}</td>
        <td>{{model.typeName}}</td>
        <td>{{model.description}}</td>
        <td>
            <button type="button" (click)="onRestore(model)">Restore</button>
        </td>
    </tr>
</table>