<div *ngIf="model">
    <div *ngIf="isViewing">
        <h3>View type {{model.id}}</h3>
        <br/>
        <label>Name: </label><span>{{model.name}}</span>
        <br/>
        <label>Removed: </label><span>{{model.removed}}</span>
        <br/>
        <label>Type: </label><span>{{model.typeName}}</span>
        <br/>
        <label>Description:</label><br/>
        <textarea readonly>{{model.description}}</textarea>
        <br/>
        <button type="button" (click)="onClose()">Cancel</button>
    </div>
    <div *ngIf="!isViewing">
        <h3>{{isEditing ? "Edit" : "Add"}} type:</h3>
        <form (submit)="onAction()">
            <label>Id</label>
            <span>{{model.id}}</span>
            <br/>
            <label for="name">Name</label>
            <input [(ngModel)]="model.name" id="name" name="name" placeholder="Type name"/>
            <br/>
            <label for="type">Type</label>
            <select [(ngModel)]="model.type" id="type" name="type" [compareWith]="compareBrief" required>
                <option *ngFor="let type of typesList" [ngValue]="type">{{type.name}}</option>
            </select>
            <br/>
            <label for="description">Description</label>
            <br/>
            <textarea [(ngModel)]="model.description" id="description" name="description"
                      placeholder="Type description">
            </textarea><br/>
            <button type="submit">{{isEditing ? "Save" : "Add"}}</button>
            <button type="button" (click)="onClose()">Cancel</button>
        </form>
    </div>
</div>