<div *ngIf="updatePriceModel && !isReadOnly" class="modal ng2modal">
    <div class="ng2-modal-dialog dialog v-center h-center">
        <div class="form-group">
            <h3>Change price of record</h3>
            <div  class="dialog__row">
            <label>Type: </label><span>{{updatedStoreRecord.typeName}}</span>
                </div>
            <div  class="dialog__row">
            <label>Model: </label><span>{{updatedStoreRecord.modelName}}</span>
            </div>
            <div  class="dialog__row">
            <label>Price: </label><span>{{updatedStoreRecord.price}}</span>
            </div>
            <div  class="dialog__row">
            <label>Count: </label><span>{{updatedStoreRecord.count}}</span>
           </div>
            <label for="price">New Price: </label>
            <input class="form-control" id="price" name="price"
                   [(ngModel)]="updatePriceModel.newPrice"
                   placeholder="{{updatedStoreRecord.price}}" required/>
            <br/>
            <label for="count">New Count: </label>
            <input class="form-control" id="count" name="count"
                   [(ngModel)]="updatePriceModel.newCount"
                   placeholder="{{updatedStoreRecord.count}}" required/>
            <br/>
            <button type="button" class="btn btn-success" (click)="onApplyPrice()">Apply</button>
            <button type="button" class="btn btn-default" (click)="onCancelChange()">Cancel</button>
        </div>
    </div>
</div>
<div class="row">
    <button type="button"  class="btn btn-default btn-sm" (click)="onRefresh()">Refresh</button>
</div>
<div class="row">
    <div class="table-responsive">
<table class="table table-hover table-fixed">
    <thead>
    <tr>
        <th class="th__id">Id</th>
        <th class="th__type">Type</th>
        <th class="th__model">Model</th>
        <th class="th__price">Price</th>
        <th class="th__count">Count</th>
        <th class="th__buttons"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let model of modelsList">
        <td>{{model.id}}</td>
        <td class="row__text">{{model.typeName}}</td>
        <td class="row__text">{{model.modelName}}</td>
        <td class="row__text">{{model.price}}</td>
        <td class="row__text">{{model.count}}</td>
        <td>
            <div class="row__buttons">
            <button *ngIf="!isReadOnly" type="button" class="btn btn-default btn-sm" (click)="onChange(model)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
                </div>
        </td>
    </tr>
    </tbody>
</table>
    </div>
</div>