<h2>Imports</h2>
<hr/>
<!--<div>-->
    <!--<button class="btn btn-default" (click)="onGetAllPage('PDF')">PDF</button>-->
    <!--<button class="btn btn-default" (click)="onGetAllPage('CSV')">CSV</button>-->
    <!--<button class="btn btn-default" (click)="onGetAllPage('XLSX')">XLSX</button>-->
<!--</div>-->
<toaster-container></toaster-container>
<import-list
        [isReadOnly]="isReadOnly"
        (onAdd)="onAddDone($event)"
        (onSave)="onSaveDone($event)"
        (onDelete)="onDeleteDone($event)"
        (onError)="onError($event)">
</import-list>
