<div *ngIf="model" class="ng2-modal-dialog dialog h-center">
    <div *ngIf="isViewing">
        <h3>View provider №{{model.id}}</h3>
        <div class="dialog__row">
        <label>Name: </label><span>{{model.name}}</span>
        </div>
        <div class="dialog__row">
        <label>Removed: </label><span>{{model.removed}}</span>
        </div>
        <div class="dialog__row">
        <label for="descr">Description:</label><br/>
        <textarea class="form-control" id="descr" rows="5"  readonly>{{model.description}}</textarea>
        </div>
        <div class="dialog__row">
            <button type="button" class="btn btn-default btn-sm" (click)="onGetAllPageID(model.id, 'PDF')">
                PDF</button>
            <button type="button" class="btn btn-default btn-sm" (click)="onGetAllPageID(model.id, 'CSV')">
                CSV</button>
            <button type="button" class="btn btn-default btn-sm" (click)="onGetAllPageID(model.id, 'XLSX')">
                XLSX
            </button>
        </div>
        <div class="dialog__row">
        <button type="button" class="btn btn-default" (click)="onClose()">Cancel</button>
            </div>
    </div>
    <div *ngIf="!isViewing">
        <h3>{{isEditing ? "Edit" : "Add"}} provider {{isEditing ? '№' + model.id : ''}}</h3>
        <form (submit)="onAction()">
            <div class="dialog__row">
            <label for="name">Name</label>
            <input [(ngModel)]="model.name" id="name" name="name" class="form-control" placeholder="Provider name"/>
            </div>
            <div class="dialog__row">
            <label for="description">Description</label>

            <textarea [(ngModel)]="model.description" id="description" name="description" rows="5" class="form-control"
                      placeholder="Provider description">
            </textarea>

                </div>
                <div class="dialog__row">
                    <button type="submit" class="btn btn-success">{{isEditing ? "Save" : "Add"}}</button>
                    <button type="button" class="btn btn-default" (click)="onClose()">Cancel</button>
                    </div>
        </form>
    </div>
</div>