<div>
    <button type="button" (click)="onRefresh()">Refresh</button>
    <button *ngIf="!isReadOnly" type="button" (click)="onAdd()">Add</button>
</div>
<order-edit *ngIf="model"
                [model]="model"
                [isEditing]="isEditing"
                [isViewing]="isViewing"
                (onAdd)="onAddDone($event)"
                (onEdit)="onEditDone($event)"
                (onCancel)="onCancel($event)"
                (onError)="onError($event)">
</order-edit>
<table>
    <tr>
        <th>Id</th>
        <th>Customer</th>
        <th>Cost</th>
        <th>Date</th>
        <th>Status</th>
        <th>Canceled</th>
        <th></th>
        <th *ngIf="!isReadOnly"></th>
        <th *ngIf="!isReadOnly"></th>
        <th *ngIf="!isReadOnly"></th>
        <th *ngIf="!isReadOnly"></th>
    </tr>
    <tr *ngFor="let model of modelsList">
        <td>{{model.id}}</td>
        <td>{{model.customer.name}}</td>
        <td>{{model.cost}}</td>
        <td>{{model.orderDate}}</td>
        <td>{{model.status}}</td>
        <td>{{model.canceled}}</td>
        <td>
            <button type="button" (click)="onViewDetails(model)">View</button>
        </td>
        <td *ngIf="!isReadOnly">
            <button type="button" (click)="onEdit(model)">Edit</button>
        </td>
        <td *ngIf="!isReadOnly">
            <button type="button" (click)="onAccept(model)">Accept</button>
        </td>
        <td *ngIf="!isReadOnly">
            <button type="button" (click)="onCancelOrder(model)">Cancel</button>
        </td>
    </tr>
</table>