<h2>Orders</h2>
<hr/>
<toaster-container></toaster-container>
<order-list
        [isReadOnly]="isReadOnly"
        (onCancelOrderDone)="onCancelDone($event)"
        (onAcceptOrderDone)="onAcceptDone($event)"
        (onAdd)="onAddDone($event)"
        (onError)="onError($event)">
</order-list>
<hr *ngIf="!isReadOnly"/>
<h3 *ngIf="!isReadOnly">Canceled orders</h3>
<order-removed-list *ngIf="!isReadOnly"
                    (onRestore)="onRestoreDone()"
                    (onDelete)="onDeleteDone($event)"
                    (onError)="onError($event)">
</order-removed-list>
