<order-edit *ngIf="model" class="modal ng2modal"
            [model]="model"
            [isEditing]="isEditing"
            [isViewing]="isViewing"
            (onAdd)="onAddDone($event)"
            (onSave)="onEditDone($event)"
            (onCancel)="onCancel($event)"
            (onError)="onError($event)">
</order-edit>
<popup class="modal ng2modal"
       *ngIf="idToDelete"
       [title]="getDeleteTitle()"
       (onOk)="onDeleteOk()"
       (onCancel)="closePopup()">
</popup>
<div>
    <button type="button" (click)="onRefresh()">Refresh</button>
    <button *ngIf="!isReadOnly" type="button" (click)="onAdd()">Add</button>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>Customer</th>
        <th>Cost</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
    </tr>
    <tr *ngFor="let model of modelsList">
        <td>{{model.id}}</td>
        <td>{{model.customer.name}}</td>
        <td>{{model.cost}}</td>
        <td>{{model.orderDate.toLocaleString()}}</td>
        <td>{{model.status}}</td>
        <td>
            <button type="button" (click)="onViewDetails(model)">View</button>
            <span *ngIf="!isReadOnly">
                <button type="button" (click)="onEdit(model)">Edit</button>
                <button type="button" (click)="onAccept(model)">Accept</button>
                <button type="button" (click)="onCancelOrder(model)">Cancel</button>
            </span>
        </td>
    </tr>
</table>