<asm-comp-edit *ngIf="model"
               [asmId]="assemblyId"
               [model]="model"
               [isEditing]="isEditing"
               [isViewing]="isViewing"
               (onAdd)="onAddDone($event)"
               (onSave)="onEditDone($event)"
               (onCancel)="onCancel($event)"
               (onError)="onError($event)">
</asm-comp-edit>
<div>
    <button type="button" (click)="onRefresh()">Refresh</button>
    <button *ngIf="!isReadOnly" type="button" (click)="onAdd()">Add</button>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Model</th>
        <th>Price</th>
        <th>Count</th>
        <th></th>
        <th *ngIf="!isReadOnly"></th>
        <th *ngIf="!isReadOnly"></th>
    </tr>
    <tr *ngFor="let model of modelsList">
        <td>{{model.id}}</td>
        <td>{{model.typeName}}</td>
        <td>{{model.modelName}}</td>
        <td>{{model.price}}</td>
        <td>{{model.count}}</td>

        <td *ngIf="!isReadOnly">
            <button type="button" (click)="onEdit(model)">Edit</button>
        </td>
        <td *ngIf="!isReadOnly">
            <button type="button" (click)="onDelete(model)">Delete</button>
        </td>
    </tr>
</table>