<h2>Component</h2>
<hr/>
<toaster-container></toaster-container>
<asm-edit
        [model]="assembly"
        [isEmbedded]="true"
        [isViewing]="isReadOnly"
        [isEditing]="true"
        (onSave)="onAsmSave($event)"
        (onCancel)="goToAssemblies()"
        (onError)="onError($event)">
</asm-edit>
<asm-comp-list
        [isReadOnly]="isReadOnly"
        [assemblyId]="asmId"
        (onAdd)="onComponentAdd($event)"
        (onSave)="onComponentSave($event)"
        (onDelete)="onDeleteDone($event)"
        (onError)="onError($event)">
</asm-comp-list>