<div>
    <button type="button" (click)="onRefresh()">Refresh</button>
    <button type="button" (click)="onAdd()">Add</button>
</div>
<comp-type-edit *ngIf="model"
                [model]="model"
                [isEditing]="isEditing"
                [isViewing]="isViewing"
                (onAdd)="onAddDone($event)"
                (onEdit)="onEditDone($event)"
                (onCancel)="onCancel($event)"
                (onError)="onError($event)">
</comp-type-edit>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let model of modelsList">
        <td>{{model.id}}</td>
        <td>{{model.name}}</td>
        <td>{{model.description}}</td>
        <td>
            <button type="button" (click)="onViewDetails(model)">View</button>
        </td>
        <td>
            <button type="button" (click)="onEdit(model)">Edit</button>
        </td>
        <td>
            <button type="button" (click)="onDelete(model)">Delete</button>
        </td>
    </tr>
</table>