<div>
    <h2>Add type:</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td><input [(ngModel)]="this.newModel.name" placeholder="Component name"/></td>
            <td><input [(ngModel)]="this.newModel.description" placeholder="Component description"/></td>
        </tr>
    </table>
    <button type="button" (click)="onAdd()">Add</button>
</div>
<div *ngIf="editingModel">
    <h2>Edit type:</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>{{this.editingModel.id}}</td>
            <td><input [(ngModel)]="this.editingModel.name" placeholder="Component name"/></td>
            <td><input [(ngModel)]="this.editingModel.description" placeholder="Component description"/></td>
        </tr>
    </table>
    <button type="button" (click)="onSave()">Save</button>
    <button type="button" (click)="onCancel()">Cancel</button>
</div>
<hr/>
<!-- Here goes the List -->
<div *ngIf="this.error">
    {{this.error}}
    <button (click)="onCloseError()">X</button>
</div>
<button type="button" (click)="onRefresh()">Update</button>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let type of this.modelsList">
        <td>{{type.id}}</td>
        <td>{{type.name}}</td>
        <td>{{type.description}}</td>
        <td>
            <button type="button" (click)="onEdit(type)">Edit</button>
        </td>
        <td>
            <button type="button" (click)="onDelete(type)">Delete</button>
        </td>
    </tr>
</table>
