<div *ngIf="model" class="ng2-modal-dialog dialog h-center">
    <div *ngIf="isViewing">
        <h3>View type №{{model.id}}</h3>
        <div class="dialog__row">
            <label>Name: </label><span>{{model.name}}</span>
        </div>
        <div class="dialog__row">
            <label>Removed: </label><span>{{model.removed}}</span>
        </div>
        <div class="dialog__row">
            <label for="descr">Description:</label>
            <textarea class="form-control" id="descr" rows="5" readonly>{{model.description}}</textarea>
        </div>
        <div class="dialog__row">
            <button type="button" class="btn btn-default" (click)="onClose()">Cancel</button>
        </div>
    </div>
    <div *ngIf="!isViewing">
        <h3>{{isEditing ? "Edit" : "Add"}} type {{isEditing ? '№' + model.id : ''}}</h3>
        <form (submit)="onAction()">
            <div class="dialog__row">
                <label for="name">Name</label>
                <input [(ngModel)]="model.name" class="form-control" id="name" name="name" placeholder="Type name"/>
            </div>
            <div class="dialog__row">
                <label for="description">Description</label>
                <textarea [(ngModel)]="model.description" id="description" name="description" rows="5"
                          placeholder="Type description" class="form-control"></textarea>
            </div>
            <div class="dialog__row">
                <button type="submit" class="btn btn-success">{{isEditing ? "Save" : "Add"}}</button>
                <button type="button" class="btn btn-default" (click)="onClose()">Cancel</button>
            </div>
        </form>
    </div>
</div>