<h2>Component Types</h2>
<hr/>
<toaster-container></toaster-container>
<comp-type-list
        [isReadOnly]="isReadOnly"
        (onAdd)="onAddDone($event)"
        (onSave)="onSaveDone($event)"
        (onDelete)="onDeleteDone($event)"
        (onError)="onError($event)">
</comp-type-list>
<hr *ngIf="!isReadOnly"/>
<h3 *ngIf="!isReadOnly">Removed types</h3>
<comp-type-removed-list
        *ngIf="!isReadOnly"
        (onRestore)="onRestoreDone($event)"
        (onError)="onError($event)">
</comp-type-removed-list>