<div class="container">
    <div class="row">
        <div class="col-md-3 pull-left widget">
            <h3 class="widget-title">Contact</h3>
            <div class="widget-body">
                <p>+375 29 9873237<br><a href="mailto:#">computer.shop@gmail.com</a><br>6 Gikalo, Minsk, 220020</p>
            </div>
        </div>
        <div class="col-md-3 pull-right">
            <div>
                <p>Copyright &copy; 2017, Savionok, Sandul.</p>
            </div>
        </div>
    </div>
</div>