<div>
    <div>
        <a routerLink=""><img src="app/styles/logo.png" alt="MPP"></a>
    </div>

    <div>
        <ul>
            <div *ngIf="isLoggedIn()">
                <li><a routerLink="provider">Provider</a></li>
                <li><a routerLink="type">ComponentType</a></li>
                <li><a routerLink="model">ComponentModel</a></li>
                <li><a routerLink="store">ComponentStore</a></li>
                <li><a routerLink="customer">Customer</a></li>
                <li><a routerLink="user">User</a></li>
                <li><a routerLink="import">Import</a></li>
                <li><a routerLink="order">Order</a></li>
                <li><a routerLink="" (click)="onLogout()">Logout</a></li>
            </div>
        </ul>
    </div>
</div>
