<nav class="navbar navbar-inverse ">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" *ngIf="isLoggedIn()" data-toggle="collapse"
                data-target="#navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink=""><img src="app/styles/logo.png" alt="MPP"></a>
    </div>
    <div class="collapse navbar-collapse" id="navigation" *ngIf="isLoggedIn()">
        <ul class="nav navbar-nav">
            <li class="{{isActive(item) ? 'active' : ''}}" *ngFor="let item of getNavItems()"><a
                    routerLink="{{item['path']+'/'+item['access']}}">{{item['name']}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a (click)="onLogout()">Logout</a></li>
        </ul>
    </div>
    </div>
</nav>
<popup class="modal ng2modal"
       *ngIf="showPopup"
       [title]="'Do you really want to Log Out?'"
       (onOk)="onOk()"
       (onCancel)="closePopup()">
</popup>