<div>
    <div>
        <a routerLink=""><img src="app/styles/logo.png" alt="MPP"></a>
    </div>

    <div>
        <ul *ngIf="isLoggedIn()">
            <li><a routerLink="provider/view">View Providers</a></li>
            <li><a routerLink="provider/edit">Edit Providers</a></li>

            <li><a routerLink="type/view">View ComponentTypes</a></li>
            <li><a routerLink="type/edit">Edit ComponentTypes</a></li>

            <li><a routerLink="model">ComponentModel</a></li>

            <li><a routerLink="store">ComponentStore</a></li>

            <li><a routerLink="customer/view">View Customers</a></li>
            <li><a routerLink="customer/edit">Edit Customers</a></li>

            <li><a routerLink="user/view">View Users</a></li>
            <li><a routerLink="user/edit">Edit Users</a></li>

            <li><a routerLink="import/view">View Imports</a></li>
            <li><a routerLink="import/edit">Edit Imports</a></li>

            <li><a routerLink="order/view">View Order</a></li>
            <li><a routerLink="order/edit">Edit Order</a></li>

            <li><a (click)="onLogout()">Logout</a></li>
        </ul>
    </div>
</div>
