<h2>Users</h2>
<hr/>
<div>
    <button class="btn btn-default" (click)="onGetCurrentState('PDF')">PDF</button>
    <button class="btn btn-default" (click)="onGetCurrentState('CSV')">CSV</button>
    <button class="btn btn-default" (click)="onGetCurrentState('XLSX')">XLSX</button>
</div>
<toaster-container></toaster-container>
<user-list
        [isReadOnly]="isReadOnly"
        (onAdd)="onAddDone()"
        (onSave)="onSaveDone()"
        (onChangePassDone)="onChangePassDone()"
        (onDelete)="onDeleteDone($event)"
        (onError)="onError($event)">
</user-list>
<hr *ngIf="!isReadOnly"/>
<h3 *ngIf="!isReadOnly">Blocked users</h3>
<user-removed-list *ngIf="!isReadOnly"
                   (onRestore)="onRestoreDone($event)"
                   (onDrop)="onDropDone($event)"
                   (onError)="onError($event)">
</user-removed-list>