<user-edit *ngIf="model"
           [model]="model"
           [isEditing]="isEditing"
           [isViewing]="isViewing"
           (onAdd)="onAddDone($event)"
           (onSave)="onEditDone($event)"
           (onUpdatePass)="onChangePassDone()"
           (onCancel)="onCancel($event)"
           (onError)="onError($event)">
</user-edit>
<popup class="modal ng2modal"
       *ngIf="idToDelete"
       [title]="getDeleteTitle()"
       (onOk)="onDeleteOk()"
       (onCancel)="closePopup()">
</popup>
<div>
    <button type="button" (click)="onRefresh()">Refresh</button>
    <button *ngIf="!isReadOnly" type="button" (click)="onAdd()">Add</button>
</div>
<table>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Role</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
        <th *ngIf="!isReadOnly"></th>
        <th *ngIf="!isReadOnly"></th>
    </tr>
    <tr *ngFor="let model of modelsList">
        <td>{{model.id}}</td>
        <td>{{model.email}}</td>
        <td>{{model.role}}</td>
        <td>{{model.firstName}}</td>
        <td>{{model.lastName}}</td>
        <td>
            <button type="button" (click)="onViewDetails(model)">View</button>
        </td>
        <td *ngIf="!isReadOnly">
            <button type="button" (click)="onEdit(model)">Edit</button>
        </td>
        <td *ngIf="!isReadOnly">
            <button type="button" (click)="onDelete(model)">Delete</button>
        </td>
    </tr>
</table>