<div *ngIf="model" class="ng2-modal-dialog dialog v-center h-center">
    <div *ngIf="isViewing">
        <h3>View assembly {{model.id}}</h3>
        <br/>
        <label>Order id: </label><span>{{model.order.id}}</span>
        <br/>
        <label>Cost: </label><span>{{model.cost}}</span>
        <br/>
        <label>Count: </label><span>{{model.count}}</span>
        <br/>
        <button *ngIf="!isEmbedded" type="button" (click)="onClose()">Cancel</button>
    </div>
    <div *ngIf="!isViewing">
        <h3>{{isEditing ? "Edit" : "Add"}} assembly {{isEditing ? '№' + model.id : ''}}</h3>
        <form (submit)="onAction()">
            <label>Order id: </label><span>{{model.order.id}}</span>
            <br/>
            <label for="count">Count: </label>
            <input [(ngModel)]="model.count" class="form-control" id="count" name="count" placeholder="Assembly count"/>
            <br/>
            <button type="submit" class="btn btn-success">{{isEditing ? "Save" : "Add"}}</button>
            <button type="button" class="btn btn-default" (click)="onClose()">Cancel</button>
        </form>
    </div>
    <hr *ngIf="isEmbedded"/>
</div>