h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    flex-grow: 1;
    margin: 0 20px;
}

.table-fixed {
    table-layout: fixed;
}

.row__descr {
    max-width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}