h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    flex-grow: 1;
    margin: 0 5%;
}

/* Table */

.table-fixed {
    table-layout: fixed;
    border-collapse: collapse;
}

.th__id {
    width: 50px;
}

.th__count {
    width: 65px;
}

.th__price {
    width: 80px;
}

.th__buttons-1 {
    width: 50px;
}

.th__buttons-2 {
    width: 100px;
}

.th__buttons-3 {
    width: 150px;
}

.row__text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row__buttons {
    float: right;
}

/* Modal dialog */

.ng2modal {
    display: block;
    overflow: auto;
}

.modal .ng2-modal-dialog {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 3px;
    box-shadow: grey 3px 3px 8px 4px
}

.modal .dialog {
    max-width: 75vw;
    margin-top: 5%;
    margin-bottom: 5%;
}

.modal .v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.modal .h-center {
    margin-left: auto;
    margin-right: auto;
}

.dialog textarea {
    resize: vertical;
}

.dialog__row {
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Popup */

.popup {
    margin-top: 10vh;
    max-width: 50vw;
}

.popup__title {
    margin-left: auto;
    margin-right: auto;
}

.popup__buttons {
    margin-left: auto;
    margin-right: auto;
}

/* Bootstrap override */

.navbar-inverse .navbar-nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .page {
        margin-left: 20px;
        margin-right: 20px;
    }

    .table-type {
        min-width: 500px;
    }

    .table-order {
        min-width: 700px;
    }

    .table-import {
        min-width: 600px;
    }

    .table-customers {
        min-width: 500px;
    }

    .table-users {
        min-width: 600px;
    }

    .table-provider {
        min-width: 400px;
    }

    .table-model {
        min-width: 400px;
    }

    .modal .dialog {
        max-width: 90vw;
    }

    .popup {
        max-width: 90vw;
    }

    .wrappable {
        width: 80px;
        white-space: normal !important;
    }

    .th__date {
        width: 80px;
        white-space: normal !important;
    }
}