h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    flex-grow: 1;
    margin: 0 20px;
}

.table-fixed {
    table-layout: fixed;
}

.row__descr {
    max-width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ng2modal {
    display: block;
    overflow: auto;
}

.ng2-modal-dialog {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 3px;
    box-shadow: grey 3px 3px 8px 4px
}

.popup__title {
    margin-left: auto;
    margin-right: auto;
}

.popup__buttons {
    margin-left: auto;
    margin-right: auto;
}

.dialog {
    max-width: 75vw;
}

.dialog textarea {
    resize: vertical;
}

.popup {
    margin-top: 10vh;
    max-width: 50vw;
}

.v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.h-center {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .popup {
        max-width: 90vw;
    }

    .dialog {
        max-width: 90vw;
    }
}