<div>
    <button type="button" (click)="onRefresh()">Refresh</button>
    <button *ngIf="!isReadOnly" type="button" (click)="onAdd()">Add</button>
</div>
<customer-edit *ngIf="model"
               [model]="model"
               [isEditing]="isEditing"
               [isViewing]="isViewing"
               (onAdd)="onAddDone($event)"
               (onEdit)="onEditDone($event)"
               (onCancel)="onCancel($event)"
               (onError)="onError($event)">
</customer-edit>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Orders count</th>
        <th>Description</th>
        <th></th>
        <th *ngIf="!isReadOnly"></th>
        <th *ngIf="!isReadOnly"></th>
    </tr>
    <tr *ngFor="let model of modelsList">
        <td>{{model.id}}</td>
        <td>{{model.name}}</td>
        <td>{{model.ordersCount}}</td>
        <td>{{model.description}}</td>
        <td>
            <button type="button" (click)="onViewDetails(model)">View</button>
        </td>
        <td *ngIf="!isReadOnly">
            <button type="button" (click)="onEdit(model)">Edit</button>
        </td>
        <td *ngIf="!isReadOnly">
            <button type="button" (click)="onDelete(model)">Delete</button>
        </td>
    </tr>
</table>