<h2>Customers</h2>
<hr/>
<div>
    <button class="btn btn-default" (click)="onGetCurrentState('PDF')">PDF</button>
    <button class="btn btn-default" (click)="onGetCurrentState('CSV')">CSV</button>
    <button class="btn btn-default" (click)="onGetCurrentState('XLSX')">XLSX</button>
</div>
<toaster-container></toaster-container>
<customer-list
        [isReadOnly]="isReadOnly"
        (onAdd)="onAddDone($event)"
        (onSave)="onSaveDone($event)"
        (onDelete)="onDeleteDone($event)"
        (onError)="onError($event)">
</customer-list>
<hr *ngIf="!isReadOnly"/>
<h3 *ngIf="!isReadOnly">Removed customers</h3>
<customer-removed-list *ngIf="!isReadOnly"
                       (onRestore)="onRestoreDone($event)"
                       (onError)="onError($event)">
</customer-removed-list>