<h3>Sign in</h3>
<hr>
<toaster-container></toaster-container>
<form (submit)="onSubmit($event)">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="credentials.email" required/>
    </div>
    <div>
        <label for="pass">Password</label>
        <input type="password" id="pass" name="pass" [(ngModel)]="credentials.password" required/>
    </div>
    <hr>
    <div>
        <div>
            <button type="submit">Sign in</button>
        </div>
    </div>
</form>
