
    <form class="container_signin" role="form">
        <h2 class="container_signin_header" >Please, sign in</h2>
        <input type="email" class="container_signin_control" placeholder="Email address" required="autofocus">
        <input type="password" class="container_signin_control" placeholder="Password" required="">
        <label class="container_signin_checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="container_signin_button" type="submit">Sign in</button>
    </form>
